@import "glob";
@import "vars";
@import "libs";
@import "fonts";
@import "dropdown";
@import "burger";

.header {
  width: 100%;
  background: #fff;
  height: 100vh;
  //background: url("../img/first-scrin-bg.png") no-repeat bottom;
  //background-size: cover;
  &-nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    &-burger  {
      display: flex;
      align-items: center;
      & .menu {
        text-transform: uppercase;
        font-size: 18px;
      }
    }
    &-list {
      display: flex;
      align-items: center;
      &__item {
        padding-right: 100px;
        &:last-child {
          padding-right: 0;
        }
        & img {
          width: 100px;
          height: 100px;
        }
        & a {
          cursor: pointer;
          font-size: 18px;
          text-transform: uppercase;
        }
      }

    }
    &-switch {
      display: flex;
      flex-direction: row;
      align-items: center;
      & .fa-info-circle {
        margin-right: 20px;
      }
    }
  }
}




@import "media";


